.idea
.venv
db.sqlite3
.idea/inspectionProfiles
.idea/modules.xml
.idea/note_rest_api.iml
.idea/vcs.xml
.idea/workspace.xml
key.json
logs.txt
terraform.tfstate
terraform.tfstate.backup
variables.tf
.terraform.lock.hcl
.terraform